<%- model_class = Nugget -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @nugget.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @nugget.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
  <dd><%= @nugget.position %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              nuggets_path(:course_id => @nugget.course_id), :class => 'btn'  %>
<%= link_to("Edit", {:controller=> 'nuggets', :action => 'edit', :course_id => @nugget.course_id}, :class => 'btn' ) %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              nugget_path(@nugget),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :course_id => @nugget.course_id },
              :class => 'btn btn-danger' %>
</div>
