<%- model_class = Course -%>
<div class="page-header">
  <h1>Browse Courses</h1>
</div>
<% @courses.each do |course| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/course_placeholder.gif" alt="...">
        <div class="caption">
          <h3><%= course.name %></h3>
          <p><%= course.description %><</p>
          <p><%= link_to("View Course", view_course_path(course), :class => 'btn btn-primary') %></p>
        </div>
      </div>
    </div>
<% end %>
