<div class="page-header">
  <h3><%= @course.name %></h3>
  <div class="col-md-6">
  	<img src="/assets/course_view_placeholder.gif" width="100%">
  </div>
  <div class="col-md-6">
  	<%= @course.description %>
  </div>
</div>