<%= nav_bar :fixed => :top, :brand => "Know Infinite", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "Things you can't afford"  %>
            <%= menu_item "Things that won't suit you anyway" %>
            <%= menu_item "Things you're not even cool enough to buy anyway" %>
        <% end %>
        <%= menu_item "About Us" %>
        <%= menu_item "Contact" %>
    <% end %>
    <%= menu_group :pull => :right do %>
        
    <% end %>
<% end %>